body {
    background-color: lightgoldenrodyellow;
}

.LI-badge-container{
    background-color: white !important;
    display:inline-block !important;
    text-align: justify;
    float: right;

}

.floatright{
    float: right;
}

.d-flex{
    text-align: right;
    width: 100vw;
    height: 30vh;
}

.div-texto{
    background-color: lightsteelblue;
    border-radius: 80%;
    width: 200px;
    height: 100px;
    padding: 30px;
    color: black;
    font-family: tahoma;
    float: left;
    text-align: center;
}

.relative{

    position: relative;
    display: inline-block;

}

.title{
    font-family: 'Special Elite', cursive;
    color: brown;
}

.bliking{
    animation-duration: 900ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: monospace;
    color: red;
    text-align: center;
}

@keyframes blink {
    0% {color:black;
        opacity: 1}
    
    50% {opacity: 0.5;
        color: red}
    
    100% {opacity: 0};
